.sectionPagination{
      padding: 0.5rem 0px;
      
}



.btn{
    background-color: #25883d;
    color:white;
    padding: 0.3rem 0.6rem;
    border-right: 1px solid orange;
    cursor: pointer;
    transition: all 300ms;
}

.btn:hover{
    background-color: orange;
}
.btn:active{
    background-color: rgb(27, 27, 27);
}

@media (max-width:400px){
    .btns{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:0px auto
    }
    .btn{
        width: 5%;
        margin-top: 0.3rem;
    }
}

